*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
}

.App {
  position: relative;
  width: 400px;
  margin: 0 auto;
  padding: 20px 0 0 0;

  font-size: 20px;

  background-color: #b2b2b2;
  border-radius: 10px;
}

.screenContent {
  width: auto;
  height: 100px;
  padding: 20px;
  margin: 20px;


  font-size: 28px;
  color: blue;
  background-color: greenyellow;
  border-radius: 10px;
}

.screenContentRed {
  width: auto;
  height: 100px;
  padding: 20px;
  margin: 20px;


  font-size: 28px;
  color: white;
  background-color: red;
  border-radius: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  width: auto;
  padding: 10px 0 20px 0;
  margin: 20px;
}

.errorName {
  position: absolute;
  bottom: 90px;
  right: 36px;
  padding: 8px;
  width: auto;
  text-align: center;
  color: white;
  font-size: 16px;
  border-radius: 5px;
}
